<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <title>Money Tracker</title>
      <link href="https://fonts.googleapis.com/css?family=Merriweather|Noto+Serif" rel="stylesheet">
      <link rel="icon" href="/images/photo.png" />
      <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
      <link rel="stylesheet" type="text/css" href="/styles/forms.css">
      <link rel="stylesheet" type="text/css" href="/styles/structure.css">
      <link rel="stylesheet" type="text/css" href="styles/tables.css">
  </head>
  <body>
      <nav>
        <ul>
          <li>
            <a href="/transactions">Transactions</a>
          </li>
          <li>
            <a href="/vendors">Vendors</a>
          </li>
          <li>
            <a href="/tags">Tags</a>
          </li>
          <li>
            <a href="/budgets">Budgets</a>
          </li>
          <li>
            <a href="/">About Money Tracker</a>
          </li>
        </ul>
      </nav>
        <main class ="flex">
          <section id="content">
          <%= yield %>
          </section>
        </main>

    <footer>
      <br>
      <em> Copyright 2017 - All rights reserved</em>
    </footer>
  </body>
</html>
