<h2>Edit Vendor</h2>

<p> </p>
<form class="" action="/vendors/<%= @vendor.id %>" method="POST">

  <label for="name-update">Name:</label>
  <input id="name-update" type="text" name="name" value="<%= @vendor.name %>">

  <p> </p>
  <input class="button" type="submit" name="" value="Update Vendor">
</form>
