<h2>Edit Vendor</h2>
<form class="" action="/vendors/<%= @vendor.id %>" method="POST">

  <label for="name-update">Name:</label>
  <input id="name-update" type="text" name="name" value="<%= @vendor.name %>">

  <br>
  <input class="side-button" type="submit" name="" value="Update Vendor">
</form>
