<h2>Vendors</h2>
<p> </p>
<a href="/vendors/new">New Vendor</a>
<p> </p>
<table>
  <thead>
    <tr>
      <th scope="col">Vendor</th>
      <th scope="col">Total Expenditure </th>
    </tr>
  </thead>
  <% @vendors.each do |vendor| %>
  <tr>
    <td><a href="/vendors/<%= vendor.id %>"><%= vendor.name %></a></td>
    <td> &pound; <%='%.2f' % Transaction.vendor_total_amount(vendor.id) %> </td>
  </tr>
  <% end %>
</table>
