<h2>Vendors</h2>
<p> </p>
<a href="/vendors/new">New Vendor</a>
<p> </p>
<table>
  <% @vendors.each do |vendor| %>
  <tr>
    <td><a href="/vendors/<%= vendor.id %>"><%= vendor.name %></a></td>
    <td></td>
  </tr>
  <% end %>
</table>
