<h2>New Vendor</h2>
<form class="" action="/vendors" method="POST">
  <p></p>
  <label for="name-input">Name:</label>
  <input id="name-input" type="text" name="name" value="">

  <p></p>
  <input class="button" type="submit" name="" value="Save Vendor">
</form>
