<h2>New Vendor</h2>
<form class="" action="/vendors" method="POST">

  <label for="name-input">Name:</label>
  <input id="name-input" type="text" name="name" value="">

  <br/>
  <input class="side-button" type="submit" name="" value="Save Vendor">
</form>
