<table>
  <tr>
      <th></th>
      <th scope="col"><%= @vendor.name %></th>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td>Total Expenditure £ </td>
    <td><%= @vendor_total_amount %></td>
  </tr>
</table>
<br>
<form class="" action="/vendors/<%= @vendor.id %>/edit" method="get">
  <input class="button"type="submit" name="" value="Edit Vendor">

</form>
