<h2>Tags</h2>

<a href="/tags/new">New Tag</a>

<p> </p>
<table>
  <% @tags.each do |tag| %>
  <tr>
    <td><a href="/tags/<%= tag.id %>"><%= tag.name %></a></td>
    <td></td>
  </tr>
  <% end %>
</table>
