<h2>New Tag</h2>
<form class="" action="/tags" method="POST">

  <label for="name-input">Name:</label>
  <input id="name-input" type="text" name="name" value="">

  <input class="side-button" type="submit" name="" value="Save Tag">
</form>
