<table>
  <tr>
      <th></th>
      <th scope="col"><%= @tag.name %></th>
  </tr>

  <tr>
    <td>Total Expenditure £ </td>
    <td><%= @tag_total_amount %></td>
  </tr>
</table>
<br>
<form class="" action="/tags/<%= @tag.id %>/edit" method="get">
  <input class=""type="submit" name="" value="Edit Tag">

<!-- Adjust class above later using button styling -->

</form>
