<p>Name: <%= @tag.name %></p>

<form class="" action="/tags/<%= @tag.id %>/edit" method="get">
  <input class=""type="submit" name="" value="Edit Tag">

<!-- Adjust class above later using button styling -->

<!-- Don't want to offer delete of tag - as history of transactions won't display/work -->

</form>
