<table>
  <tr>
      <th></th>
      <th scope="col" ><%= @tag.name %></th>
  </tr>
  <tr>
    <td></td>
</table>
<br>
<form class="" action="/tags/<%= @tag.id %>/edit" method="get">
  <input class="button"type="submit" name="" value="Edit Tag">
</form>
