.btn {
  border:0px none;
  border-radius: 3%;
  padding: 8px 12px;
  color: papayawhip;
  cursor:pointer;
  font-family: 'Special Elite', cursive;
}

/*.button {
font-size: 16px;
padding: 10px 20px;
border-radius: 20px;
float: left;
background-color: #41c1f4;
color: #fff;
border: 2px solid #f45b41;
}*/

.button {
  background-color: #8342f4;
  border-radius: 20px;
  padding: 10px 10px;
  color: #fff;
  font-size: 10px;
  float: left;
}

.button:hover {
  background-color: #730000;
}
/*
.btn--edit:hover {
  background-color: #495C27;
}

.btn--edit {
  background-color: darkolivegreen;
}*/
