.btn {
  border:0px none;
  border-radius: 3%;
  padding: 8px 12px;
  color: papayawhip;
  cursor:pointer;
  font-family: 'Special Elite', cursive;
}

.button {
font-size: 16px;
padding: 10px 20px;
border-radius: 20px;
float: left;
background-color: #41c1f4;
color: #fff;
border: 2px solid #f45b41;
}

.btn--new {
  background-color: darkred;
  border-radius: 20px;
  border: 2px solid #f45b41;
  padding: 10px 20px;
  color: #fff;
  font-size: 10px;
}

.btn--new:hover {
  background-color: #730000;
}

.btn--edit:hover {
  background-color: #495C27;
}

.btn--edit {
  background-color: darkolivegreen;
}

.btn--wrapper {
  margin: 0px 0px 30px 0px;
}
