<table>
  <tr>
      <th></th>
      <th scope="col"><%= @budget.name %></th>
  </tr>


</table>
<br>
<form class="" action="/budgets/<%= @budget.id %>/edit" method="get">
  <input class=""type="submit" name="" value="Edit Budget">

<!-- Adjust class above later using button styling -->

</form>
